
$fw: 100%;
$fh: 100%;

/* Color Palette */
$color-FFFFFF: #FFFFFF;
$color-000000: #000000;
$color-1E1E1E: #1E1E1E;
$color-6F00FF: #6F00FF;
$color-E6E6E6: #E6E6E6;
$color-DBEAFE: #DBEAFE;
$color-CBD5E1: #CBD5E1;
$color-F8FAFC: #F8FAFC;
$color-64748B: #64748B;


